@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --font-family: 'Outfit', sans-serif;
  --font-header: 30px;
  --font-body: 16px;
  --font-body-small: 14px;
  --background-color: #dde4ea;
  --header-background: rgb(0, 38, 77);
  --sidebar-background: #e4ecf7;
  --sidebar-width: 200px;
  --toggle-width: 20px;
  --card-background: #ffffff;
  --text-color: #333;
  --subtext-color: #555;
  --border-color: #f0f4f9;
  --button-background: #001f5a;
  --button-hover: #0a3585;
  --bubble-user: #ffffff;
  --bubble-ai: #ffffff;
  --light-shadow: rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
  --transition-speed: 0.3s;
  --header-height: 60px; /* Adjusted for better aesthetics */
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Ensures the page itself doesn't scroll */
  display: flex;
  flex-direction: column;
  font-family: Outfit !important;
  -webkit-font-smoothing: antialiased;
  font-size: var(--bs-body-font-size) !important;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

header {
  background-color: #333;
  color: white;
  /* padding: 20px; */
  text-align: center;
  flex: 0 0 60px;
}

.content-wrapper1 {
  display: flex; /* Set to flex for horizontal layout */
  min-height: 100vh; /* Full height to occupy whole screen */
  overflow: hidden; /* Prevent overflow issues */
}
.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 230px; /* Same as sidebar width */
  transition: margin-left 0.3s ease;
  width: calc(100% - 200px); /* Full width minus sidebar */
}

.content-wrapper.expanded {
  margin-left: 60px; /* Same as collapsed sidebar width */
  width: calc(100% - 40px);
}

.content-wrapper-chat-old {
  display: flex;
  flex-direction: column; /* Stack chat content vertically */
  flex-grow: 1; /* Take the remaining width */
  overflow: scroll; /* Clip overflow */
  /* position: relative; */
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 240px;
  gap: 10px; /* Space between input and icons */
  width: 70%; /* Ensure it fits within the container */
  box-sizing: border-box; /* Include padding in width calculations */
}
.content-wrapper-chat {
  background: var(--background-color);
  flex: 1;
  padding: 20px;
  margin-left: 215px;
  /* margin-right: 15px; */
  margin-bottom: 200px;
  box-sizing: border-box;
  overflow-y: auto; /* Enables scrolling within the content section */
}
.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: calc(100vh - 90px); /* Adjust based on your layout */
  overflow-y: auto;
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.search-box {
  flex-grow: 1;
  display: flex;
  width: 70%;
  align-items: left;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.ag-theme-alpine .ag-cell.expanded-cell {
  font-family: Outfit !important;
  font-size: 1.2em;
  padding: 10px;
  background-color: #f0f0f0; /* Optional: change background for better visual */
}

.custom-ag-grid .ag-cell {
  font-family: Outfit !important;
  font-size: 50px; /* Change this value to your desired font size */
}

.custom-ag-grid .ag-header-cell-label {
  font-family: Outfit !important;
  font-size: 50px; /* Change this value to your desired font size */
}

/* -----------------------------------------------------------------------------*/

.main{
font-family: Outfit !important;
flex: 1;
min-height: 90vh;
height: 100vh;
padding-bottom: 15vh;
position: relative;
user-select: none;


}
.main .nav{
display: flex;
align-items: center;
justify-content: space-between;
font-size: 22px;
padding: 20px;
color: #585858;
}
.main .nav .user{
width: 40px;
border-radius: 50px;
}
.main-container{
max-width: 1300px;
margin: auto;
padding: 20px 0;
}
.main-container .greet{
margin: 0px 0px;
font-size: 42px;
color:#c4c7c5;
}
.main .greet span{
background: -webkit-linear-gradient(16deg,#0f43b4, #31e1b8);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;   
}
.greet .text{
margin: 10px 0;
font-size: 16px;
color:#787878;
/* font-weight: 500px; */
} 
.main .cards{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
gap: 15px;
}

.main .card{
height: 200px;
padding: 15px;
background-color: #f0f4f9;
border-radius: 10px;
position: relative;
cursor: pointer;
}
.main .card img{
width: 35px;
padding: 5px;
position: absolute;
border-radius: 20px;
bottom: 10px;
right: 10px;
background: white;
}
.greet p{
margin-bottom: 0rem;
}

.main-bottom {
position: absolute;
bottom: 0;
width: 100%;
max-width: 1200px;
margin: auto;
display: flex;
gap: 20px;
}



/* .search-box img{
width: 24px;
cursor: pointer;
} */

.mic {
width: 35px;
height: 30px;
cursor: pointer;
margin-top: 8px;
}

.send-btn {
width: 28px;
cursor: pointer;
margin-top: 8px;
}

/* .search-box {
  display: flex;
  width: 100%;
} */

.search-box input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 12px;
  font-size: var(--font-body);
  font-family: var(--font-family);
  width: 100%;
}

.search-box div{
display: flex;
align-items: center;
gap: 1px;
}

.main .bottom-info{
font-size: 13px;
margin: 15px auto;
text-align: center;
font-weight: 300;
}

.sidebar a,
.link {
text-decoration: none;
color: black;
}

.result{
/* padding: 0px 5%; */
max-height: 75vh;
overflow-y: scroll;
cursor: text;
user-select: text;
width: 100%;
}
.result::-webkit-scrollbar{
display: none;
}

.user-input{
margin: 30px 0px;
display: flex;
align-items:center;
gap: 20px;
background-color: #f0f4f9;
padding: 10px;
border-radius: 10px;
}
.user-img{
width: 40px;
height: 40px;
flex-shrink: 0; 
/* border-radius: 50px; */
}
.bot-img{
  width: 60px;
  height: 50px;
  flex-shrink: 0; 
  /* border-radius: 50px; */
}

.toggle-img{
  width: 20px;
  flex-shrink: 0; 
  /* border-radius: 50px; */
  }

.card-img{
  width: 25px;
  height: 25px; /* Add this to maintain aspect ratio */
  object-fit: contain; /* This ensures the image fits within the dimensions without stretching */
  }
  .card-name {
    flex-grow: 1;
    min-width: 0; /* This allows text to wrap if needed */
  }

.user-input p{
flex-grow: 1;
line-height: 40px;
margin: 0;
}

.bot-result{
display: flex;
align-items: center;
gap: 20px;
padding: 10px 0px 0px 10px;
}


.bot-result p{
flex-grow: 1;
line-height: 40px;
margin: 0;
}
.loader-div{
display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
font-size: var(--font-body);

}
.loader {

width: 38px;
height: 38px;
border-radius: 50%;
position: relative;
animation: rotate 1s linear infinite;
overflow-x: hidden;
overflow-y: hidden;
}
.loader::before , .loader::after{
content: "";
box-sizing: border-box;
position: absolute;
inset: 0px;
border-radius: 50%;
border: 5px solid #001f5a;
animation: prixClipFix 2s linear infinite;
}

.loader::after {
border-color: #d7d7d7;
animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
inset: 6px;
}

@keyframes rotate {
0% { transform: rotate(0deg)} 
100% { transform: rotate(360deg)} 
}
@keyframes prixClipFix {
0%   {clip-path: polygon(50% 50%,0 0,0 0,0 0,0 0,0 0 )}
25%  {clip-path: polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0 )}
50%  {clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
75%  {clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
100% {clip-path: polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0 )}
}

.result-data p{
font-size: var(--font-body);
font-weight: 300px;
line-height: 1.8;
}

/* header {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
padding: 10px 15px;
background-color: #f0f4f9;
border-bottom:  #acb8c5 1px solid; 
} */

.header_old {
  background-color: var(--header-background);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 0 0 var(--header-height); /* Fixed height for header */
  position: relative;
  box-shadow: 0 2px 2px var(--light-shadow);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 10px; */
  background-color: var(--header-background);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 2px var(--light-shadow);
}

.header-left {
  display: flex;
  align-items: center;
}
.header-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
  padding: 5px;
  color: var(--text-color);
}

.hamburger-icon {
  display: inline-block;
}

.logo {
  height: 60px; /* Adjust as needed */
}

header .heading{
margin: 0; /* Add this to remove any default margins */
text-align: center;
/* padding: 7px; */
font-size: var(--font-header);
color: #ffffff;
font-weight: bolder;
margin-left: -160px;
}

header img{
/* height: 30px; */
width: auto;
margin-right: 10px;

}
header .icons{
display: flex;
gap: 1rem;
align-items: center; 
overflow-x: hidden;
}
.header-icons {
  display: flex;
  gap: 5px; /* Space between icons */
  align-items: center;
}
.header-icon {
  width: 35px; /* Adjust size as needed */
  height: 35px; /* Adjust size as needed */
}
.home-icon {
  width: 45px; /* Adjust size as needed */
  height: 45px; /* Adjust size as needed */
}
.icon-link {
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.icon-link:hover {
  opacity: 0.5; /* Slight opacity change on hover */
}

#home {
color: #001f5a;
cursor: pointer;
}
.icons i {
cursor: pointer;
color: #001f5a;
transition: color 0.2s ease;
}
#admin {
/* margin-right: 20px; */
width: auto;
color: #001f5a;
cursor: pointer;
}

.ag-theme-quartz{
flex-direction: row;

} 
.ag-theme-quartz .ag-cell {
white-space: normal; /* Allow wrapping */
}

.ag-theme-quartz .ag-row {
line-height: 1.5;    /* Adjust line height for readability */
}  

/* #table {
} */
#table-container {
position: relative;
}

.download-icon {
position: absolute;
top: 10px; /* Adjust spacing from the top */
right: 10px; /* Adjust spacing from the right */
z-index: 1; /* Ensure it appears above the container */
}

#table {
margin-top: 40px; /* Adjust margin to push the table below the icon */
}

.download-csv {
cursor: pointer;
width: 24px; /* Adjust the size of the image */
height: 24px;
}

.carousel {
display: flex;
flex-direction:row;
/* align-items: center; */
margin: 5px 0; /* Adjust as needed */
width: 100%;
/* background-color: #f0f4f9; */
padding: 10px 0px 10px 0px;

}

.imagesHolder-text {
margin-bottom: 10px; /* Space between text and images */
left: 0;
color: #585858;
}

.imagesHolder {
display: flex;
align-items: center; /* Center vertically */
width: 700px;
height: 120px;
}

.image-buttons {
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
padding: 10px; /* Space around buttons */
}

.image-buttons img {
width: 30px; /* Adjust the width of the arrow icons */
height: 30px; /* Adjust the height of the arrow icons */
transition: transform 0.3s; /* Smooth scaling on hover */
}

.image-buttons img:hover {
transform: scale(1.1); /* Scale up on hover for effect */
}

.image-viewer {
flex-grow: 1; /* Allow the viewer to grow */
display: flex;
justify-content: center; /* Center images */
}

.images-holder {
display: flex; /* Show images in a row */
overflow: hidden; /* Hide overflowing images */
}

.images-holder img {
margin: 0 5px; /* Space between images */
/* max-width: 100%; Ensure images are responsive */
height: 80px; /* Maintain aspect ratio */
border-radius:8px ;
cursor: pointer;
}

.bot-result-check {
display: grid;
font-size: 1rem;
font-weight: bolder;
padding-top: 30px;
}

/* Container for the checkbox form */
.checkbox-form {
margin-top: 10px;
margin-left: 70px;
}

/* Style for labels of the checkboxes */
.checkbox-form label {
padding: 0px; /* Slightly increased padding for better spacing */
display: flex;
align-items: center;
font-weight: lighter;
margin-bottom: 10px;
color: #333;
cursor: pointer; /* Add pointer to indicate clickable labels */
transition: background-color 0.3s ease; /* Smooth hover transition */
}

/* Enhance the appearance on hover */
.checkbox-form label:hover {
background-color: #f0f0f0; /* Light grey background on hover */
}

/* Styling the checkbox input */
.checkbox-form input[type="checkbox"] {
margin-right: 12px; 
width: 16px; 
height: 16px;
cursor: pointer; 
border-color: #001f5a;
accent-color: rgb(0, 31, 90); /* Blue tint for checkboxes */
}

/* Enhancing overall accessibility */
.checkbox-form {
  font-family: Outfit !important;
/* font-family: 'Arial', sans-serif; Consistent font family */
}

.checkbox-grid {
display: flex;
flex-wrap: wrap;
gap: 10px;
justify-content: space-between;
max-width: 100%; /* Adjust width as necessary, but ensure it accommodates four columns */
}

.checkbox-item {
flex: 1 1 calc(25% - 10px); /* Ensures four columns */
box-sizing: border-box;
}

.checkbox-item input {
margin-right: 5px;
}
/* Improved mobile responsiveness */
@media (max-width: 600px) {
.checkbox-form {
    margin-left: 20px; /* Adjusted margin for smaller screens */
}

.checkbox-form label {
    font-size: 0.95rem; /* Slightly smaller font for better fit */
}

.checkbox-form p {
    font-size: 1rem; /* Maintain paragraph size for readability */
    margin-bottom: 8px;
}
}

.question-buttons {
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
padding: 10px; /* Space around buttons */
}
.question-buttons img {
width: 30px; /* Adjust the width of the arrow icons */
height: 30px; /* Adjust the height of the arrow icons */
transition: transform 0.3s; /* Smooth scaling on hover */

}

.question-buttons img:hover {
transform: scale(1.1); /* Scale up on hover for effect */
}
.questionContainer{
display: flex;
align-items: center; /* Center vertically */
height: 120px;    

}

.question-holder {
display: flex;
gap: 10px; /* Space between question boxes */
overflow: hidden;
}

.question-box {
background-color: #ededed; /* Light background color */
font-size: 14px;
height: 120px;
border-radius: 8px;    
padding: 10px;
width: 200px;
cursor: pointer;
}
.seperator {
margin: 0; /* Space around separator */
}

.question-viewer {
flex-grow: 1; /* Allow the viewer to grow */
display: flex;
justify-content: center; /* Center images */
}  

.question{
line-height: 20px;
margin-bottom: 0;
}

.reset-btn {
  margin-left: 1px;
  margin-top: 10px;
}

.reset-btn button {
background-color: var(--header-background);  
color: #ffffff; /* White text */
border-radius: 15px;
padding: 10px 25px;
border: none;
cursor: pointer;
font-size: var(--font-body);
transition: background-color 0.3s ease;
}

.reset-btn button:hover {
background-color: #12326e;
color: #fefeff;
}

.ag-cell{

/* white-space: nowrap; */
/*
  The `white-space` property in CSS is used to control how whitespace inside an element is handled.
  Available values for `white-space` are:
  - `normal`: Collapses whitespace, and breaks lines as necessary to fill line boxes.
  - `nowrap`: Collapses whitespace, but does not break lines.
  - `pre`: Preserves whitespace, and only breaks lines at newline characters.
  - `pre-wrap`: Preserves whitespace, but breaks lines as necessary to fill line boxes.
  - `pre-line`: Collapses whitespace, but breaks lines at newline characters and as necessary to fill line boxes.
  - `break-spaces`: Preserves whitespace, breaks lines at newline characters, and breaks lines at any other point when necessary to prevent overflow.
*/
white-space: 'pre-line';
overflow: hidden;
text-overflow: ellipsis;
/* max-width: 150px; */
transition: all 0.2s ease;
/* height: 40px; */
}

.cell.expanded {
/* white-space: normal; */
white-space: 'pre-line';
max-width: none;
background-color: #ffffff;
border: 1px solid #007BFF;

}

.upload-buttons{
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
}

.upload-buttons button {
color: #ffffff;
padding: 5px 10px;
border-radius: 8px;
border: none;
background: linear-gradient(16deg, #0f43b4, #31e1b8);
cursor: pointer;
transition: transform 0.2s ease, background 0.5s ease, box-shadow 0.5s ease;
}

.upload-buttons button:hover {
background: linear-gradient(16deg, #31e1b8, #0f43b4);
transform: scale(1.02);
}

.add-btn{
padding: 20px;

}

.translate-container{
display: flex;
justify-content: center;
height: 100vh;
padding: 20px;
}

.modal-body form {
display: flex;
flex-direction: column;
gap: 20px; /* Adjust this value to increase/decrease the gap */
}

.modal-header .btn-close{
display: none;
}

.modal-header{
border-bottom: none !important;
}
.modal-footer{
border-top: none !important;
}
.modal-dialog {
margin-top: 200px !important;
}
.modal-content{
width: 90% !important;
}
.modal-footer .btn-primary{
background: linear-gradient(16deg, #0f43b4, #07adb0);
border: none;
padding: 5px 5px;
border-radius: 8px;
cursor: pointer;
font-size: small;
transition: transform 0.2s ease, background 0.5s ease, box-shadow 0.5s ease;
width: 50px;
height: 30px;
}
.modal-footer .btn-secondary{
background-color: #6c757d;
border: none;
padding: 5px 5px;
border-radius: 8px;
cursor: pointer;
font-size: small;
transition: transform 0.2s ease, background 0.5s ease, box-shadow 0.5s ease;
width: 50px;
height: 30px;

}

.form-control:focus{
border-color: #001f5a !important;
box-shadow: none !important;
}

.response-message p {
margin: 0;
padding: 0;
text-align: left;
}

.response-message li {
  margin: 0;
  padding: 0;
  text-indent: -1em;
  padding-left: 15px;/* Add this if you need some space between bullet/number and text */
}

.response-message ol, ul {
  margin: 0;
  padding: 0;  
  padding-left: 15px;
}

li::marker {
  font-size: 0.9em; /* Slightly adjust size if necessary to make marker less prominent */
  padding-right: 0; /* Remove any extra padding from the list marker itself */
}

/* Style for the loader overlay */
.loader-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
display: flex;
justify-content: center;
align-items: center;
z-index: 9999; /* Ensure it appears on top */
}

/* Style for the loader content */
.loader {
font-size: 24px;
font-weight: bold;
color: #000;
}

/* Apply blur effect to the background */
.blurred-background {
filter: blur(5px);
pointer-events: none; /* Prevent interaction with blurred content */
}

/* Optional: You can style the loader animation (e.g., a spinner) */
.loader-spinner {
border: 4px solid whitesmoke;
border-top: 4px solid #3498db;
border-radius: 50%;
width: 50px;
height: 50px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.ag-header {
  position: sticky !important;
}

.main-content {
  display: flex;
  /* height: calc(100vh - var(--header-height)); */
  position: relative;
}

.sidebar_new {
  width: 200px; /* Adjust as needed */
  transition: width 0.3s ease;
  position: relative;
  z-index: 10;
}

.sidebar {
  position: relative;
  left: 0;
  top: calc(50 + (--header-height));
  height: calc(100vh - var(--header-height));
  width: var(--sidebar-width);
  transition: width 0.3s ease;
  z-index: 10;
  padding: 10px;
  box-shadow: 0 2px 4px var(--light-shadow);
  background-color: var(--sidebar-background);
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: auto;
}

.sidebar.hidden {
  width: 20px;
  overflow: hidden;
  padding: 3px;
}
.sidebar.hidden .card-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.hidden .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.hidden .card-img-container {
  margin-right: 0;
  padding: 0;
}

.sidebar.hidden .card-name,
.sidebar.hidden .card-desc {
  display: none;
}

.sidebar.hidden .card {
  margin-bottom: 10px; /* Add some space between icons */
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 50px; /* Make space for the toggle button */
}

.sidebar-toggle-container {
  position: relative;
  top: 0;
  bottom: 0;
  /* left: 20px; Should match sidebar width */
  width: 0;
  transition: left 0.3s ease;
  z-index: 5;
}

.sidebar.hidden + .sidebar-toggle-container {
  left: 0;
}

.sidebar-toggle-arrow {
  position: absolute;
  top: 50%;
  left: calc(var(--sidebar-width) - var(--toggle-width) + 10px); 
  /* right: calc(var(--sidebar-width) * -1); */
  transform: translateY(-50%);
  background: var(--sidebar-background);
  border: none;
  border-radius: 0 5px 5px 0;
  /* width: 20px; */
  height: 60px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  cursor: pointer;
  /* transition: left 0.3s ease; */
  z-index: 10;
}

.sidebar-toggle-arrow.hidden {
  left: 0;
}

.sidebar-toggle-arrow:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

.sidebar .card {
  margin-bottom: 10px; 
  padding: 1px; 
  cursor: pointer;
  transition: background-color var(--transition-speed);
  border: 1px solid var(--border-color); 
  border-radius: var(--border-radius); 
}

.sidebar .card:hover {
  background-color: #d6e9fb; /* Slightly darker on hover */
}

.sidebar .card-title {
  font-size: var(--font-body);
  margin: 0;
  color: var(--text-color);
  font-weight: bold; /* Bold titles for emphasis */
  text-align: left;
  display: flex;
  align-items: center;
}

.card-img-container {
  flex-shrink: 0;
  margin-right: 5px; /* Adjust this value to control space between image and text */
  padding-top: 5px; /* Add some top padding to align with the first line of text */
}

.card-desc {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height var(--transition-speed) ease-out, opacity var(--transition-speed) ease-out;
  opacity: 0;
  font-size: var(--font-body-small);
  color: var(--subtext-color);
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid var(--border-color);
}

.sidebar .card:hover .card-desc {
  max-height: 100px;
  overflow-y: auto;
  opacity: 1;
  padding-bottom: 5px;
}

.footer {
  padding: 10px;
  background: var(--background-color);
}

.link-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}


.sidebar-toggle {
  position: fixed;
  bottom: 200px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  width: 40px; /* Width of the button */
  height: 40px; /* Height of the button */
  background: none;
  border: none;
  font-size: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11; /* Ensure it's above the sidebar content */
}

.sidebar-toggle-header {
  /* position: fixed; */
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  width: 40px; /* Width of the button */
  height: 40px; /* Height of the button */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  /* justify-content: center;
  align-items: center;
  z-index: 11; Ensure it's above the sidebar content */
}

/* Adjust toggle button position when sidebar is visible */
.sidebar:not(.hidden) .sidebar-toggle {
  left: 160px; /* Adjust based on sidebar width minus button width */
}

.hamburger-icon {
  display: inline-block;
}

/* Ensure the sidebar content is not visible when collapsed */
/* .sidebar.hidden .sidebar-content {
  display: none;
} */

.content-wrapper {
  flex-grow: 1;
  margin-left: var(--toggle-width);; /* Sidebar width + toggle button width */
  transition: margin-left 0.3s ease;
}

.content-wrapper.expanded {
  margin-left: 20px; /* Just the toggle button width */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .content-wrapper,
  .content-wrapper.expanded {
    margin-left: 20;
    width: 100%;
  }
}